<div class="message">
  <p> <%= params[:question] %></p>
  <p><em>-You</em></p>
</div>
<div class="message" id="orange">
  <p> <strong><%= @answer %></strong></p>
  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>

